<p id="notice"><%= notice %></p>

<div class="container">
<%= link_to "Create Job", new_job_path(:image_label_set_id => @image_label_set.id), class: "btn btn-primary" %>
<br><br>
<h2>Jobs</h2>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Assigned to:&nbsp;&nbsp;</th>
    <th>Total image count&nbsp;&nbsp;</th>
    <th>Labelled images&nbsp;&nbsp;</th>
    <th>% Complete&nbsp;&nbsp;</th>
    <th>% Agreement</th>
    <th>Date created</th>
  </tr>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= User.find(job.user_id).email %>&nbsp;&nbsp;</td>
    <td><%= job.image_labels.size %></td>
    <td><%= job.labelledImagesCount() %></thd>
    <td><%= job.percent_complete %></td>
    <td><%= job.percent_agreement %></td>
    <td><%= job.created_at %></td>
    <td>
      <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <button type="button" class="btn btn-danger">Destroy</button>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
  <br><br><br><br>
  <div class="row" id="pagination-links">
    <div class="col-sm-5"><%= paginate @jobs %></div>
  </div>
</div>
