<% labels = @image_label_set.label_set.labels %>
<table class="table table-striped">
  <tr>
    <th></th>
    <% labels.each do |label| %>
      <th><%= label.text %></th>
    <% end %>
    <th><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;Most likely</th>
  </tr>


  <% @images.each do |image| %>
    <tr>
      <td>
        <img class="img-thumbnail" src="<%= image.url %>" title="<%= File.basename image.url %>">
      </td>

      <% labels.each do |label| %>
        <td><%= image.count_labels(label) %></td>
      <% end %>

      <td>
        <%= image.most_likely_label_text %>
      </td>
    </tr>
  <% end %>
</table>

<div class="row" id="pagination-links">
  <div class="col-sm-5"><%= paginate @images %></div>
</div>

