<p id="notice"><%= notice %></p>

<%= javascript_include_tag "bb" %>

<div class="container">

<% @images.each do |image| %>
  <div class="row">
  <div class="col-sm-3"><%= File.basename image.url %><br><br>
  <% if @image_label_set.bounding_box_mode %>
    <%= @image_label_set.image_labels[0].target %>
  <% else %>
    <%= image.most_likely_label_text %>
    <table class="table" >
      <tr><% @image_label_set.labels.each do |label| %>
        <td><b><%= label.text %></b></td>
      <% end %></tr>
      <tr><% @image_label_set.labels.each do |label| %>
        <td><%= image.count_labels(label) %></td>
      <% end %></tr>
    </table>
  <% end %>
  </div>
  <div class="col-sm-2">
    <img class="img-thumbnail" src="<%= image.url %>">
    <svg id="overlay#{}" xmlns="http://www.w3.org/2000/svg" style="left:0px;top:0px;">
    </svg>
  </div>
  </div>
  <br><br>
<% end %>

<br><br><br><br>
<div class="row" id="pagination-links">
  <div class="col-sm-5"><%= paginate @images %></div>
</div>
</div>
