<p id="notice"><%= notice %></p>

<div class="container">

<% @images.each do |image| %>
  <div class="row">
  <div class="col-sm-3"><%= File.basename image.url %>: <%= image.most_likely_label_text %><br><br>
  <table class="table" >
    <tr><% @image_label_set.label_set.labels.each do |label| %>
      <td><b><%= label.text %></b></td>
    <% end %></tr>
    <tr><% @image_label_set.label_set.labels.each do |label| %>
      <td><%= image.count_labels(label) %></td>
    <% end %></tr>
  </table>
  </div>
  <div class="col-sm-2"><img class="img-thumbnail" src="<%= image.url %>"></div>
  </div>
  <br><br>
<% end %>

<br><br><br><br>
<div class="row" id="pagination-links">
  <div class="col-sm-5"><%= paginate @images %></div>
</div>
</div>
