
<div id="imgframe">
  <div id="imgtight">
    <img class="img-responsive" id="mainimage" src="<%= @unlabeled_first.image.url %>" draggable="false">
    <svg id="overlay" xmlns="http://www.w3.org/2000/svg" style="left:0px;top:0px;">
    </svg>
  </div>
    <ul id="bblist" class="listgroup"></ul>
</div>
<div class="workprogress">
  <%= @progressratio %>
</div>
<div id="radiocontainer" class="container" style="width:20%; z-index:50;left:0px;position:absolute;">
  <%= form_for @unlabeled_first do |f| %>

    <% @unlabeled_first.image.image_label_set.labels.each do |label| %>
    <div class="row">
      <div class="col-sm-6">
        <label>
        <input value="<%= label.text %>" name="classname" type="radio" >
        <%= label.text %>
        </label>
      </div>
    </div>
    <% end %>

  <br>
  <input id="target" value="" name="target" type="hidden" >
  <button value="" name="" type="submit" class="btn btn-default btn-lg btn-block">Next</button>
  <% end %>
</div>
