
<div id="imgframe">
  <div id="imgtight">
    <img class="img-responsive" id="mainimage" src="<%= @unlabeled.image.url %>" draggable="false">
    <svg id="overlay" xmlns="http://www.w3.org/2000/svg" style="left:0px;top:0px;">
    </svg>
  </div>
  <div id="bblist">
    <span class="glyphicon glyphicon-trash"></span>
    <ul class="listgroup">
    </ul>
  </div>
</div>
<div class="progress" style="width:500px;height:20px;">
<div class="progress-bar" role="progressbar" aria-valuenow="<%= 100- (@unlabeled.image.image_label_set.percent_remaining/2) %>"
aria-valuemin="0" aria-valuemax="100" style="width:<%= 100- (@unlabeled.image.image_label_set.percent_remaining/2) %>%">
  <span class="sr-only">70% Complete</span>
</div>
</div>
<% if @image_label_set.bounding_box_mode %>
<div id="radiocontainer" class="container" style="width:500px;">
  <%= form_for @unlabeled do |f| %>
  <div class="row">
    <% @unlabeled.image.image_label_set.labels.each do |label| %>
    <div class="col-sm-4">
        <input value="<%= label.text %>" name="classname" type="radio" >
        <%= label.text %>
      </div>
    <% end %>
  </div>
  <br>
  <button value="" name="target" type="submit" class="btn btn-default btn-lg btn-block">Next</button>
  <% end %>
</div>
<% else %>
<div id="btncontainer" class="container" width="500px;">
  <%= form_for @unlabeled do |f| %>
  <div class="row">
    <% @unlabeled.image.image_label_set.labels.each do |label| %>
    <div class="col-sm-4">
        <button value="<%= label.id %>" name="label_id" type="submit" class="btn btn-default btn-lg btn-block"><%= label.text %></button>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>
