<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image_label.image %>
</p>

<p>
  <strong>Label:</strong>
  <%= @image_label.label %>
</p>

<p>
  <strong>User:</strong>
  <%= @image_label.user %>
</p>

<%= link_to 'Edit', edit_image_label_path(@image_label) %> |
<%= link_to 'Back', image_labels_path %>
