<h2>Listing Labels</h2>

<table class="table table-condensed .table-striped">
  <thead>
    <tr>
      <th>Text</th>
      <th>Label set</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= link_to label.text, label %></td>
        <td><%= safe_label_set label %></td>
        <td><%= link_to 'Edit', edit_label_path(label), class: "btn btn-primary btn-xs" %>
        <%= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Label', new_label_path %>
