<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @label.text %>
</p>

<p>
  <strong>Label set:</strong>
  <%= @label.label_set %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
