<% 
  ils = @unlabeled.image.image_set.image_label_set
  percentageDone = (100 - @job.percent_remaining).round(0)
%>

<div id="imgframe">
  <img class="img-responsive" id="mainimage" src="<%= @unlabeled.image.vpath %>">
</div>

<div class="progress" style="width:500px;height:20px;">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentageDone %>"
      aria-valuemin="0" aria-valuemax="100" style="width:<%= percentageDone %>%">
    <span><%= percentageDone%>%</span>
  </div>
</div>

<div id="btncontainer">
  <%= form_for @unlabeled do |f| %>
  <div class="row">
    <% ils.label_set.labels.each do |label| %>
    <div class="col-sm-4">
        <button value="<%= label.id %>" name="label_id" type="submit" class="btn btn-default btn-block"><%= label.text %></button>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
