<p id="notice"><%= notice %></p>

<div class="container">

<script type="text/javascript">
  BoundingBoxesGroups = [];
</script>

<% @images.each do |image| %>
  <div class="row">
  <div class="col-sm-2"><%= File.basename image.url %>
    <br>
    <%= link_to 'Destroy', image.label_for_job(@job), method: :delete %>
    <br>
  </div>
  <div class="col-sm-8">
    <%= render partial: "bbimage", locals: {image: image, il: image.label_for_job(@job)} %>
  </div>
  <div class="col-sm-2">
    <b>This label's target counts:</b> <%= image.label_for_job(@job).to_object_count_hash %><br><br>
    <b>All target counts:</b> <%= image.all_targets_count_hash_padded %><br><br>
  </div>
  </div>
  <br><br>
<% end %>

<br><br><br><br>
<div class="row" id="pagination-links">
  <div class="col-sm-5"><%= paginate @images %></div>
</div>
</div>
