<script type="text/javascript">
  <% if not defined? il %>
    <% image.image_labels.select{ |il| (not il.target.nil?) }.each do |il| %>
      var BoundingBoxes<%=image.id%>_<%=il.id%>=<%=raw(il.target)%>;
      var BoundingBoxInfo<%=image.id%>_<%=il.id%> = {};
      BoundingBoxInfo<%=image.id%>_<%=il.id%>["overlayElementId"] = "overlay<%=image.id%>";
      BoundingBoxInfo<%=image.id%>_<%=il.id%>["BoundingBoxes"] = BoundingBoxes<%=image.id%>_<%=il.id%>;
      BoundingBoxesGroups.push(BoundingBoxInfo<%=image.id%>_<%=il.id%>);
    <% end %>
  <% else %>
    var BoundingBoxes<%=image.id%>_<%=il.id%>=<%=raw(il.target)%>;
    var BoundingBoxInfo<%=image.id%>_<%=il.id%> = {};
    BoundingBoxInfo<%=image.id%>_<%=il.id%>["overlayElementId"] = "overlay<%=image.id%>";
    BoundingBoxInfo<%=image.id%>_<%=il.id%>["BoundingBoxes"] = BoundingBoxes<%=image.id%>_<%=il.id%>;
    BoundingBoxesGroups.push(BoundingBoxInfo<%=image.id%>_<%=il.id%>);
  <% end %>
</script>
<div class="imtight">
  <img class="bbthumbnail" src="<%=image.url %>" onload="RedrawAllBoundingBoxes()">
  <svg id="overlay<%=image.id%>" class="svgoverlay" xmlns="http://www.w3.org/2000/svg" style="left:0px;top:0px;"></svg>
</div>
