<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<img class="bbthumbnail" src="<%= @image.url %>" >

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
