<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>imgclass</title>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/favicon.png" type="image/vnd.microsoft.icon">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Inconsolata|Muli|Pacifico|Quicksand|Karla|Bangers' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
  <%= stylesheet_link_tag "imgclass", media: "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
   _gaq.push(['_trackPageview']);
   (function()
   {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
  </script>
  </head>
  <body>


  <nav class="navbar navbar-default">
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <% if current_user %>
        <ul class="nav navbar-nav">
          <li><%= link_to "ImageLabelSets", image_label_sets_url %></li>
          <li><%= link_to "Jobs", jobs_url %></li>
          <li><%= link_to "ImageLabels", image_labels_url %></li>
          <li><%= link_to "Next", {controller:"image_labels", action: "next"} %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% end %>
    </div>
  </nav>

  <div id="mainui">
  <h1>img<font color="grey">&thinsp;class</font></h1>
  <h2>batch image classification</h2>
  <h2>================================</h2>
  <br><br>
  <%= yield %>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
  <script type="text/javascript">
   function autorun()
   {
    $("#car").click(function() {
	 alert($(this).text());
	});

	$("#bus").click(function() {
	 alert($(this).text());
	});

	$("#pedestrian").click(function() {
	 alert($(this).text());
	});

	$("#garbage").click(function() {
	 alert($(this).text());
	});
   }
   if (window.addEventListener) window.addEventListener("load", autorun, false);
   else if (window.attachEvent) window.attachEvent("onload", autorun);
   else window.onload = autorun;
  </script>

  </body>
</html>
